 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 585px;
}

.u-section-1 .u-image-1 {
  width: 469px;
  height: 448px;
  margin: 85px 39px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -407px auto 0 15px;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  margin: 20px auto 0 15px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 0 60px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1 .u-image-1 {
    width: 382px;
    height: 365px;
    margin-top: 76px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -319px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 36px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-image-1 {
    width: 261px;
    height: 279px;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -561px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 117px;
    margin-left: 8px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2270px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  margin: 24px 59px 0;
}

.u-section-2 .u-list-1 {
  width: 1016px;
  margin: 67px auto 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 1927px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-14 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-16 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-18 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-19 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-20 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-9 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px;
}

.u-section-2 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-21 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-22 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-10 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-23 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-24 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-11 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px;
}

.u-section-2 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-25 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-26 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-12 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-27 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-28 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-13 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-14 {
  padding: 10px;
}

.u-section-2 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-29 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-30 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-14 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

.u-section-2 .u-container-layout-15 {
  padding: 10px;
}

.u-section-2 .u-icon-15 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-31 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 59px auto 0;
}

.u-section-2 .u-text-32 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-15 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 35px auto 0 95px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1783px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-15 {
    margin-top: 24px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3298px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3559px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: 0;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 0;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-9 {
    margin-top: 0;
  }

  .u-section-2 .u-text-19 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-10 {
    margin-top: 0;
  }

  .u-section-2 .u-text-21 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-11 {
    margin-top: 0;
  }

  .u-section-2 .u-text-23 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-12 {
    margin-top: 0;
  }

  .u-section-2 .u-text-25 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-13 {
    margin-top: 0;
  }

  .u-section-2 .u-text-27 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-28 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-14 {
    margin-top: 0;
  }

  .u-section-2 .u-text-29 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-30 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 46px;
  }

  .u-section-2 .u-icon-15 {
    margin-top: 0;
  }

  .u-section-2 .u-text-31 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-32 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-btn-15 {
    margin-top: 46px;
  }
}